<div class="menu-dashboard">
  <div class="menu">
    <div class="enlace">
      <a href="{% url 'web_admin_perfil' %}">
        <i class="bx bx-user-circle"></i> Mi Perfil
      </a>
    </div>
    <div class="enlace">
      <a href="{% url 'web_admin_dashboard' %}">
        <i class="bx bx-chart"></i> Dashboard
      </a>
    </div>
    <div class="enlace">
      <a href="{% url 'web_admin_notificaciones' %}"> <i class="bx bx-bell"></i> Notificaciones </a>
    </div>
    <div class="enlace">
      <a href="{% url 'web_admin_usuarios' %}"> <i class="bx bx-user"></i> Usuarios </a>
    </div>
    <div class="enlace">
      <a href="{% url 'web_admin_inventario' %}"> <i class="bx bx-shopping-bag"></i> Movimiento de Artículos </a>
    </div>
    <div class="enlace">
      <a href="{% url 'web_admin_reportes' %}"> <i class="bx bx-file-blank"></i> Reportes </a>
    </div>
    <div class="enlace">
      <a href="{% url 'web_admin_proveedores' %}"> <i class="bx bx-buildings"></i> Proveedores </a>
    </div>
    <div class="enlace">
      <a href="{% url 'web_admin_solicitudes_oc_prov' %}"> <i class="bx bx-help-circle"></i> Solicitudes de Compra </a>
    </div>
    <div class="enlace">
      <a href="{% url 'web_admin_ordenes_compra' %}"> <i class="bx bx-truck"></i> Órdenes de Compra (OC) </a>
    </div>
    <div class="enlace">
      <a href="{% url 'correos:panel_correos' %}"> <i class="bx bx-envelope"></i> Correos </a>
    </div>
    <div class="enlace">
      <a href="{% url 'web_admin_mensajes' %}"> <i class="bx bx-message"></i> Mensajes </a>
    </div>
    <div class="enlace">
      <a href="{% url 'web_admin_reclamos' %}"> <i class="bx bx-error-circle"></i> Reclamos </a>
    </div>
    <div class="enlace">
      <a href="{% url 'web_admin_pedidos' %}"> <i class="bx bx-cart"></i> Pedidos </a>
    </div>
    <div class="enlace">
      <a href="{% url 'web_admin_pagos' %}"> <i class="bx bx-credit-card"></i> Pagos </a>
    </div>
    <div class="enlace">
      <form method="post" action="{% url 'web_logout' %}">
        {% csrf_token %}
        <button
          type="submit"
          style="background:none;border:none;color:inherit;cursor:pointer;padding:0;width:100%;text-align:left;display:flex;align-items:center;gap:10px;"
        >
          <i class="bx bx-log-out"></i> Cerrar Sesión
        </button>
      </form>
    </div>
  </div>
</div>
